[Unit]
Description=The Apache HTTP Server
After=network.target

[Service]
Type=forking
EnvironmentFile=/usr/sbin/envvars
PIDFile=/var/run/httpd.pid
ExecStart=/usr/sbin/apachectl -k start
ExecReload=/usr/sbin/apachectl -k graceful
ExecStop=/usr/sbin/apachectl -k graceful-stop
KillSignal=SIGCONT
PrivateTmp=true

[Install]
WantedBy=multi-user.target
